<!-- ########## START: LEFT PANEL ########## -->
<div class="sl-logo"><a href="index.html"><i class="icon ion-android-star-outline"></i> Ind@House!</a></div>
<div class="sl-sideleft">
  <label class="sidebar-label">Configuration</label>
  <div class="sl-sideleft-menu">
    <a href="#" class="sl-menu-link" data-toggle="modal" data-target="#project-modal">
      <div class="sl-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Project</span>
      </div><!-- menu-item -->
    </a><!-- sl-menu-link -->
    <a href="#" class="sl-menu-link" data-toggle="modal" data-target="#expenses-modal">
      <div class="sl-menu-item">
        <i class="menu-item-icon icon ion-cash tx-22"></i>
        <span class="menu-item-label">Expenses</span>
      </div><!-- menu-item -->
    <a href="#" class="sl-menu-link" data-toggle="modal" data-target="#debug-modal">
      <div class="sl-menu-item">
        <i class="menu-item-icon icon ion-bug tx-22"></i>
        <span class="menu-item-label">Debug</span>
      </div><!-- menu-item -->
    </a><!-- sl-menu-link -->
  </div><!-- sl-sideleft-menu -->

  <br>
</div><!-- sl-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->

<!-- ########## START: HEAD PANEL ########## -->
<div class="sl-header">
  <div class="sl-header-left">
    <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="index.html"><i class="icon ion-navicon-round"></i></a></div>
    <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="index.html"><i class="icon ion-navicon-round"></i></a></div>
  </div><!-- sl-header-left -->
</div><!-- sl-header -->
<!-- ########## END: HEAD PANEL ########## -->

